<template>
  <div class="card mar-b-2">
    <div class="card__header pad-r-2">
      <div class="card__checkbox">
        <input class="form-checkbox" type="checkbox" v-model="card.isChecked" @click="checkboxHandler" />
      </div>
      <h6 class="card__username pad-l-2">{{ card.name.first }} {{ card.name.last }}</h6>
      <p class="card__timestamp fs-12">{{ card.primaryTimestamp }}</p>
      <div class="card__header--dropdown">
        <b-dropdown variant="link" size="md" toggle-class="text-decoration-none" right no-caret>
          <template slot="button-content">
            <b><b-icon-three-dots-vertical variant="dark" /></b>
          </template>
          <b-dropdown-item>Link 1</b-dropdown-item>
          <b-dropdown-item>Link 2</b-dropdown-item>
          <b-dropdown-item>Link 3</b-dropdown-item>
        </b-dropdown>
      </div>
    </div>
    <hr class="dashed-divider" />
    <div class="card__body">
      <h5 class="card__title">{{ card.title }}</h5>
      <div class="card__dataset mar-t-2">
        <h6 class="card__dataset-title mar-b-1">Datasets</h6>
        <div class="card__dataset-inner">
          <p class="chip" v-for="chip in card.datasets">{{ chip }}</p>
        </div>
      </div>
      <div class="card__dates mar-t-2">
        <div class="date">
          <span class="fs-10 fw-600"> Start date </span>
          <p class="fs-12 fw-400">
            {{ card.secondaryTimeStamps.startTime }}
          </p>
        </div>
        <div class="date">
          <span class="fs-10 fw-600"> Duration(secs) </span>
          <p class="fs-12 fw-400">{{ card.secondaryTimeStamps.durationInSeconds }}s</p>
        </div>
        <div class="date">
          <span class="fs-10 fw-600"> End date </span>
          <p class="fs-12 fw-400">
            {{ card.secondaryTimeStamps.endTime }}
          </p>
        </div>
      </div>
    </div>
    <hr class="dashed-divider" />
    <div class="card__footer">
      <button @click="$emit('delete-card', card.id)" class="card__btn btn-danger"><b-icon-trash></b-icon-trash></button>
      <button @click="changeAuthorization" :class="['card__btn', card.isAuthorized ? 'btn-success' : 'btn-secondary']">
        {{ card.isAuthorized ? "Authorized" : "Not Authorized" }}
      </button>
    </div>
  </div>
</template>

<script>
//import File from 'Path'
//import {mapGetters, mapActions} from 'vuex'
export default {
  name: "Card",
  data() {
    return {};
  },
  props: { card: Object },
  components: {},
  methods: {
    checkboxHandler() {
      this.card.isChecked = !this.card.isChecked;
      this.updateCard();
    },
    changeAuthorization() {
      this.card.isAuthorized = !this.card.isAuthorized;
      this.updateCard();
    },
    updateCard() {
      this.$emit("update-card", this.card);
    },
  },
};
</script>

<style lang="scss">
.dropdown-toggle::after {
  display: none !important;
}
.dashed-divider {
  margin: 6px 0 10px;

  background-color: transparent;
  border: none;
  border-top: 1px dashed var(--gray);
}
.card {
  width: 100%;
  padding: 1.4rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    position: relative;
    &--dropdown {
      position: absolute;
      top: -8px;
      right: -18px;

      cursor: pointer;
    }
  }
  /* &__title {
  } */
  &__dataset {
    &-inner {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }

    /* &__title {
    } */
  }

  &__dates {
    display: flex;
    justify-content: space-between;
  }

  &__footer {
    display: flex;
    justify-content: end;
    gap: 8px;
  }
  &__btn {
    font-size: 14px;
    padding: 8px 12px;

    border: none;
    border-radius: 20px;
  }
}
p.chip {
  font-size: 12px;
  margin-bottom: 0;
  padding: 4px 8px;

  background-color: var(--yellow);
  border-radius: 20px;
}
</style>
