<template>
  <div class="row">
    <div class="col-md-4" v-for="card in getAllData" :key="card.id">
      <Card
        :card="card"
        @delete-card="cardID => deleteCardHandler(cardID)"
        @update-card="card => updateCardHandler(card)"
      />
    </div>
  </div>
</template>

<script>
import Card from "./Card.vue";
import { mapGetters, mapActions } from "vuex";
export default {
  name: "Grid",
  data() {
    return {};
  },
  props: {},
  components: {
    Card,
  },
  computed: mapGetters(["getAllData"]),
  methods: {
    ...mapActions(["deleteCardFromDB", "updateCardFromDB"]),
    deleteCardHandler(cardID) {
      this.deleteCardFromDB(cardID);
    },
    updateCardHandler(card) {
      this.updateCardFromDB(card);
    },
  },
  mounted() {},
};
</script>

<style lang="scss"></style>
