<template>
	<h1>About Page</h1>
</template>

<script>
//import File from 'Path'
export default {
	name: "About",
	data() {
		return {};
	},
	props: {},
	components: {},
	methods: {},
};
</script>

<style></style>
