<template>
  <section class="home mar-t-1">
    <div class="grid-table-toggle">
      <button @click="toGridView" :class="['btn', displayMode === 'grid' ? 'btn-primary' : 'btn-secondary']">
        <b-icon-grid scale="1"></b-icon-grid>
      </button>
      <button @click="toTableView" :class="['btn', displayMode === 'table' ? 'btn-primary' : 'btn-secondary']">
        <b-icon-list scale="1"></b-icon-list>
      </button>
    </div>
    <div class="grid-container" v-if="displayMode === 'grid'">
      <Grid />
    </div>
    <div class="row" v-if="displayMode === 'table'">
      <Table />
    </div>
  </section>
</template>

<script>
import Grid from "../components/Grid/Grid.vue";
import Table from "../components/Table/Table.vue";
export default {
  name: "Home",
  data() {
    return {
      displayMode: "grid",
    };
  },
  props: {},
  components: {
    Grid,
    Table,
  },
  methods: {
    toGridView() {
      this.displayMode = "grid";
    },
    toTableView() {
      this.displayMode = "table";
    },
  },
};
</script>

<style lang="scss">
.grid-table-toggle {
  display: flex;
  justify-content: flex-end;
  gap: 8px;

  margin: 10px 0;

  button {
    display: flex;
    align-items: center;

    aspect-ratio: 1/1;
  }
}
</style>
